body.parklisting{
	background-color: #362c26;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

hr {
height:0px;
border:0;
border-top:2px solid #29473e;
margin:0;
padding:0;
}



div.buttons {
	display: flex;
  flex-wrap: nowrap;

  justify-content: center;
  margin:10px 0;
}

img.homebutton {
	max-width:30%;
	height:auto;
	margin:0;
	
}
a.home{
	display:flex;
	justify-content: flex-end;
	
	
}

img.surveybutton {
	max-width:30%;
	height:auto;
	
}

html{
	background-color: #29473e;
}

div.header {
	background-color: #362c26;
	font-color: #b98700;
	font-size: 1.5rem;
	color: #b98700;
	text-align:center;
	width: 100%;
	height: auto;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-bottom:0;	
}

img.logo{
	grid-area: header;
	width: 70%;
	justify:center;
	padding-bottom: 20px;
}

div#homepage{
	padding-top: 0;
	margin-top:0;
	background-color: #362c26;
	display:grid;
	grid-template-columns: 1.25fr 2fr ;
	grid-gap:0px;
	grid-template-rows: auto;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
	padding-top:0;
	padding-bottom: 5%;
	grid-template-areas:
	" cvnptitle cvnptitle "
	" cvnpimg cvnpdesc "
	
	" enptitle enptitle "
	" enpimg enpdesc "
	
	" gcnptitle gcnptitle "
	" gcnpimg gcnpdesc "
	
	" gnptitle gnptitle "
	" gnpimg gnpdesc "
	
	" gsmnptitle gsmnptitle "
	" gsmnpimg gsmnpdesc "
	
	" gtnptitle gtnptitle "
	" gtnpimg gtnpdesc "
	
	" mrnptitle mrnptitle "
	" mrnpimg mrnpdesc "
	
	" rmnptitle rmnptitle "
	" rmnpimg rmnpdesc "
	
	" ynptitle ynptitle "
	" ynpimg ynpdesc "
	
	" ynp2title ynp2title "
	" ynp2img ynp2desc ";	
}

a > img  {
	max-width: 100%;
	height: auto;
	border: 2px solid #b98700;
	display: block;
	margin-left:10px;
	margin-right:auto;
}

h1{
	font-family: "Amatic SC", cursive;
	font-size: 6.5vw;
	font-weight: bold;
	padding:0;
	margin:0;
	margin-left:10px;
	color: #b98700;
	align-self: center;
}

h1.pagedetailh1 {
	align-text:center;
}
p{
	font-family:"Open Sans Condensed", sans-serif;
	font-size: 1.6vw;
	text-align: left;
	color: white;
	padding:0;
	margin:0;
}

h1.cvnpname {
	grid-area: cvnptitle;
}

a.cvnpimg {
	grid-area: cvnpimg;
}

p.cvnpdescription {
	grid-area: cvnpdesc;
	padding: 0px 25px;
}

h1.enpname {
	grid-area: enptitle;
}

a.enpimg {
	grid-area: enpimg;
}

p.enpdescription {
	grid-area: enpdesc;
	padding: 0px 25px;
	
}

h1.gcnpname {
	grid-area: gcnptitle;
}

a.gcnpimg {
	grid-area: gcnpimg;
}

p.gcnpdescription {
	grid-area: gcnpdesc;
	padding: 0px 25px;
}

h1.gnpname {
	grid-area: gnptitle;
}

a.gnpimg {
	grid-area: gnpimg;
}

p.gnpdescription {
	grid-area: gnpdesc;
	padding: 0px 25px;
}

h1.gsmnpname {
	grid-area: gsmnptitle;
}

a.gsmnpimg {
	grid-area: gsmnpimg;
}

p.gsmnpdescription{
	grid-area: gsmnpdesc;
	padding: 0px 25px;
}

h1.gtnpname {
	grid-area: gtnptitle;
}

a.gtnpimg {
	grid-area: gtnpimg;
}

p.gtnpdescription {
	grid-area: gtnpdesc;
	padding: 0px 25px;
}

h1.mrnpname {
	grid-area: mrnptitle;
}

a.mrnpimg {
	grid-area: mrnpimg;
}

p.mrnpdescription {
	grid-area: mrnpdesc;
	padding: 0px 25px;
}

h1.rmnpname {
	grid-area: rmnptitle;
}

a.rmnpimg {
	grid-area: rmnpimg;
}

p.rmnpdescription {
	grid-area: rmnpdesc;
	padding: 0px 25px;
}

h1.ynpname {
	grid-area: ynptitle;
}

a.YNPimg {
	grid-area: ynpimg;
}

p.ynpdescription {
	grid-area: ynpdesc;
	padding: 0px 25px;
}

h1.ynp2name {
	grid-area: ynp2title;
}

a.ynp2img {
	grid-area: ynp2img;
}

p.ynp2description {
	grid-area: ynp2desc;
	padding: 0px 25px;
}
img.weatherimg {
	width:10%;
}


div.parkdetail{
	padding-top: 0;
	margin-top:0;
	background-color: #362c26;
	display:grid;
	grid-template-columns: 1.5fr 1fr ;
	grid-gap:10px;
	grid-template-rows: auto;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
	padding-top:0;
	padding-bottom: 5%;
	grid-template-areas:
	" title title  "
	" quote quote "
	" img facts "
	" desc desc  "
	" weather weather";
}

div.headingdetail {
	grid-area: title;
	justify-self: center;
}

div.quote {
	grid-area: quote;
	justify-self: center;
	font-style: italic;
	margin: 0 6.9%;
}
div.detailimg {
	justify-self: center;
}

div.detailimg > img{
	grid-area:img;
	
	margin-left:20px;
	border: 2px solid #b98700;
	width:100%;
	height: auto;
}
div.factstable{
	grid-area: facts;
	
  	width: 100%;
}

div.factstable > p{
	display:inline-block;
	
}

body > div.parkdetail > div.factstable > h1{
	font-family: "Amatic SC", cursive;
	font-size: 4vw;
	font-weight: bold;
	color: #b98700;
	margin: 0 5%; 
}

div.detaildesc{
	grid-area: desc;
	justify-self: center;
	margin:0 6.9%;
}

div.weather{
	grid-area: weather;
	justify-self: center;
	margin:0 6.9%;
}


body > div.parkdetail > div.factstable > p.field1{
	font-weight: bolder;
	color: #b98700;
	margin:0;
	margin: 0 5%;  ;
}



body > div.parkdetail > div.factstable > p.field2{
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	
}

